doctype html
html.no-js(lang="en")

  head
    meta(charset='utf-8')
    title Hello! :: Starter-kit codzin
    meta(charset='description',content='_______________INSERT_DECRIPTION_HERE_______________')
    meta(charset='viewport',content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet',href='css/style.css')
    link(rel='stylesheet',href='css/reset_normalize.css')
    link(rel='stylesheet',href='css/font-awesome.css')
    link(rel='shortcut icon',href='favicon.ico')
    link(rel='apple-touch-icon',href='apple-touch-icon.png')

  body
    header
    
    .container
      a(href="#") hidsa
      
      
    footer
      
    script(type='text/javascript',src='js/jquery.min.js')
    script(type='text/javascript',src='js/functions.js')
